.logo {
    width: 60px;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar-link {
    color: white;
}

.navbar-end-li {
    margin-left: auto;
}

.navbar-list {
    list-style: none;
    display: flex;
}

#navbar {
    color: white;
    padding: 0;
    padding-right: 50px;
}
