@import "~antd/dist/antd.css";

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

#login-form-button {
    margin-right: 10px;
}

.login-container {
    margin: 0 30%;
    margin-top: 5%;
}

@media (max-width: 600px) {
    .login-container {
        margin: 0 10%;
        margin-top: 20%;
    }
}
